:root {
    --primary-color: #1ABC9C; /* Turquesa */
    --secondary-color: #f8f9fa;
}

body {
    padding-top: 80px;
}



.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('https://images.unsplash.com/photo-1583337130417-3346a1be7dee');
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}


.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.form-container {
    background: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card {
    transition: transform 0.3s;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .form-container {
        padding: 1rem;
    }
}


  